<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://cdn.bootcss.com/dropzone/5.5.1/dropzone.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/src/css/index.css">
  <link rel="stylesheet" type="text/css" href="/src/css/animation.css">
  <title>easyChart</title>
</head>
<body>
  <div id="container">
    <div class="bounce-loader" v-show="isLoaded"> 
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id="header">
      <span>可视化工具</span>
    </div>
    <div id="aside" :style="{width:asideWidth}"  v-cloak v-show="fullScreen">
      <div class="step-title" >
        <span v-for="item in stepTitle" @click="showItem(item)"
          v-bind:class="{titleActive:item.status}">{{item.name}}
        </span>
      </div>
      <transition name="step" mode="out-in">
        <div id="dataInput" v-if="this.stepTitle[0].status" class="asideFull" key="dataInput">
          <form id="dropArea" class="dropzone" action="http://localhost:3000/uploadFile">
            <div id="preview-template" style="display: none;">
              <div class="dz-preview dz-file-preview">
                <div class="dz-image"><img data-dz-thumbnail="" src="../static/img/excel.png" width="100%"
                    height="100%">
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                <div class="dz-success-mark">
                  <img src="./static/svg/success_mark.svg">
                </div>
                <div class="dz-error-mark">
                  <img src="./static/svg/error_mark.svg">
              </div>
              </div>
            </div>
             <div class="dz-message dz-default">
                <span>请上传excel或者csv</span>
              </div>
          </form>
          <div id="inputTip">
            <span>
              请上传一维数据表格或者csv文件
            </span>
            <img src="../static/img/inputTip.PNG" width="100%" height="100%" alt="数据模板">
          </div>
        </div>
        <div id="dataShowTable" v-if="this.stepTitle[1].status" class="asideFull" key="dataShowTable">
          <div id="tableau" v-if="rows.length">
            <table>
              <thead>
                <tr>
                  <th v-for="(column,index) in columns" :key="column+index">
                    <custom-choose :arr="columnOptions" 
                    v-on:receive="columnHandler($event,column)" v-if="index>0">
                    </custom-choose>
                    {{column}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in rows" :key="item+index" v-if="item[columns[0]]"  >
                  <td v-for="(value,key,index1) in item">
                    <input type="text" v-model="item[key]"
                      :size="(value+'').length" class="td-input">
                    <div class="deteleRows" 
                    @click="deleteRows(index)" v-if="index1===0">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table> 
          </div>
          <div v-else="rows.length"><span>请上传数据哦</span></div>
        </div>
        <div id="dataModel" v-if="this.stepTitle[2].status" class="asideFull" key="dataModel">
          <div class="chartbox">

            <div v-for="item in chartLib" class="chartLib" @click="setChartModel(item)" v-bind:class="item.isChoose">
              <img :src="item.imgSrc" :alt="item.name" width="100px" height="100px"><br>
              <span>{{item.name}}</span>
            </div>
          </div>

        </div>
        <div id="dataConfig" v-if="this.stepTitle[3].status" class="asideFull" key="dataConfig">
          <div class='panel-left'>
            <ul class="menu">
              <li v-for="(value,key,index) in baseSettingsModel" @click="setClick(value)"
                v-bind:class="{active:value.status}">{{value.name}}</li>
            </ul>
          </div>
          <div class="panel-right">
            <transition name="panel" mode="out-in">
              <div v-if="baseSettingsModel.title.status" key="title">
                <custom-input v-model="baseSettings.title.text" title="标题内容">
                </custom-input>
                <custom-select title="标题大小" v-model="baseSettings.title.textStyle.fontSize" :items="fontSizes"
                  :type="selectType.size">
                </custom-select>
                <custom-color v-model="baseSettings.title.textStyle.color" title="标题颜色"></custom-color>
                <custom-select v-model="baseSettings.title.textStyle.fontWeight" :items="fontWeights"
                  :type="selectType.bold" :key=1 title="标题粗细">
                </custom-select>
                <custom-select v-model="baseSettings.title.left" :items="align" :type="selectType.align" title="标题水平位置">
                </custom-select>
                <custom-select title="标题垂直位置" v-model="baseSettings.title.top" :items="verticalAlign"
                  :type="selectType.vertical">
                </custom-select>
                <custom-input v-model="baseSettings.title.subtext" title="副标题内容">
                </custom-input>
                <custom-select v-model="baseSettings.title.subtextStyle.fontSize" :items="fontSizes"
                  :type="selectType.size" :key=2 title="副标题大小">
                </custom-select>
                <custom-color v-model="baseSettings.title.subtextStyle.color" title="副标题颜色"></custom-color>
                <custom-select v-model="baseSettings.title.subtextStyle.fontWeight" :items="fontWeights"
                  :type="selectType.bold" :key=3 title="副标题粗细">
                </custom-select>
              </div>
              <div v-if="baseSettingsModel.axis.status" key="axix">
                <custom-input v-model="baseSettings.xAxis[0].name" :key=1 title="x轴标题">
                </custom-input>
                <custom-select v-model="baseSettings.xAxis[0].nameTextStyle.fontWeight" :items="fontWeights"
                  :type="selectType.bold" :key=4 title="x轴标题粗细">
                </custom-select>
                <custom-select v-model="baseSettings.xAxis[0].nameTextStyle.fontSize" :items="fontSizes"
                  :type="selectType.size" :key=5 title="x轴标题大小">
                </custom-select>
                <custom-select v-model="baseSettings.xAxis[0].nameLocation" :items="xNameAlign" :type="selectType.align"
                  :key=6 title="x轴水平对齐">
                </custom-select>
                <custom-select v-model="baseSettings.xAxis[0].position" :items="xAlign" :type="selectType.align" :key=7
                  title="x轴上下对齐">
                </custom-select>
                <custom-check v-model="baseSettings.xAxis[0].inverse" title="x轴翻转" id="x-inverse"></custom-check>
                <custom-input v-model="baseSettings.yAxis[0].name" :key=2 title="y轴标题">
                </custom-input>
                <custom-select v-model="baseSettings.xAxis[0].nameTextStyle.fontWeight" :items="fontWeights"
                  :type="selectType.bold" :key="Math.random()" title="y轴标题粗细">
                </custom-select>
                <custom-select v-model="baseSettings.yAxis[0].nameTextStyle.fontSize" :items="fontSizes"
                  :type="selectType.size" :key="Math.random()" title="y轴标题大小">
                </custom-select>
                <custom-select v-model="baseSettings.yAxis[0].nameLocation" :items="xNameAlign" :type="selectType.align"
                  :key="Math.random()" title="y轴水平对齐">
                </custom-select>
                <custom-select v-model="baseSettings.yAxis[0].position" :items="yAlign" :type="selectType.align"
                  :key="Math.random()" title="y轴上下对齐">
                </custom-select>
                <custom-check v-model="baseSettings.yAxis[0].inverse" title="对侧显示" :key="0"></custom-check>
              </div>
              <div v-if="baseSettingsModel.outlook.status" key="outlook">
                <custom-select v-model="baseSettings.textStyle.fontFamily" :items="fontFamilys"
                  :type="selectType.fontFamily" :key="Math.random()" title="图表字体"></custom-select>
                <div v-for="(item,index) in baseSettings.dataZoom" :key="index">
                  <custom-check :title="item.id" v-model="item.show" :id="item.id">
                  </custom-check>
                </div>
                <custom-color v-model="baseSettings.backgroundColor" title="图表背景"></custom-color>
                <custom-range v-model="width" title="图表宽度"></custom-range>
                <custom-range v-model="height" title="图表高度"></custom-range>
              </div>


              <div v-if="baseSettingsModel.series.status" key="series">


                <div v-if="settings.type==='histogram'||settings.type==='line'||settings.type==='bar'">
              <!--     <custom-drop v-model="settings.stack.stack" :items="columns.slice(1)" title="堆叠"></custom-drop> -->
                  <custom-drag :items="columns.slice(1)" title="指标"></custom-drag>
                  <custom-drop v-model="settings['metrics']" title="指标" :items="columns.slice(1)" type="metrics">
                  </custom-drop>              
                </div>
                <div v-if="settings.type==='histogram'">
                  <custom-drop v-model="settings.showLine" :items="columns.slice(1)" title="显示为线">
                  </custom-drop>
                </div>
                <div v-if="settings.type==='histogram'||settings.type==='line'">
                  <custom-drop v-model="settings.axisSite.right" :items="columns.slice(1)" title="双轴显示"></custom-drop>
                  <custom-select v-model="settings.yAxisType[0]" :items="dataType" title="左轴数据类型"></custom-select>
                  <custom-select v-model="settings.yAxisType[1]" :items="dataType" title="右轴数据类型"></custom-select>
                </div>
                <div v-if="settings.type==='bar'">
                  <custom-drop v-model="settings.axisSite.top" :items="columns.slice(1)" title="双轴显示"></custom-drop>
                </div>

                <div v-if="settings.type==='line'">
                  <custom-check v-model="settings.area" title="面积" id="area"></custom-check>
                </div>
                <div v-if="settings.type==='pie'">
                  <custom-input v-model="settings.limitShowNum" title="限制显示条数"></custom-input>
                  <custom-select v-model="settings.roseType" :items="roseType" title="扇形类型">
                  </custom-select>
                  <custom-width v-model="settings.radius" title="半径" step="10"></custom-width>
                  <custom-width v-model="settings.offsetY" title="纵向偏移量" step="10">
                  </custom-width>
                </div>
                <div v-if="settings.type==='map'">
                  <custom-select v-model="settings.position" :items="mapPosition" title="地图类型">
                  </custom-select>
                  <custom-check v-model="settings.label" id="mapLabel" title="地图文本标签"></custom-check>                      
                </div>
                <custom-check v-model="visualMap" title="数据映射" id="visualMap">
                </custom-check>
                <custom-check v-model="baseSettings.visualMap.show" title="显示映射条" v-if="visualMap" id="show">
                </custom-check>                
                <custom-input v-model="baseSettings.visualMap.min" title="最小值" v-if="visualMap">
                </custom-input>
                <custom-input v-model="baseSettings.visualMap.max" title="最大值" v-if="visualMap">
                </custom-input>                 
              </div>
              <div v-if="baseSettingsModel.legend.status" key="legend">
                <custom-select v-model="baseSettings.legend.type" :items="['plain','scroll']" title="图例类型">
                </custom-select>
                <custom-check v-model="baseSettings.legend.show" title="图例显示" id="legendShow"></custom-check>
                <custom-select v-model="baseSettings.legend.left" title="图例水平位置" :items="['left','center','right']">
                </custom-select>
                <custom-select v-model="baseSettings.legend.top" title="图例水平位置" :items="['top','middle','bottom']">
                </custom-select>
                <custom-width v-model="baseSettings.legend.width" title="图例宽度" step="10"></custom-width>
                <custom-check v-model="baseSettings.toolbox.show" title="工具盒" id="toolboxShow">
                </custom-check>                
              </div>
            </transition>
          </div>
        </div>
      </transition>
    </div>
    <div id="dragger" @mousedown="handleMouseDown" 
    :style="{left:dragPosition}">
      
    </div>
    <div id="main" :style="{left:mainPosition,borderRadius:'5px'}">
      <div class="fullScreen" @click="fullScreenHandler"></div>
      <div v-bind:style="{width:width,height:height}" id="chart">
        <span> 上传数据才有图表哦</span>
      </div>
    </div>
    <div id="login">
      <custom-login> </custom-login>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://cdn.bootcss.com/dropzone/5.5.1/dropzone.js"></script>
  <script src="https://cdn.bootcss.com/PapaParse/4.6.3/papaparse.js"></script>
  <script src="https://cdn.bootcss.com/xlsx/0.14.1/xlsx.full.min.js"></script>
</body>

</html>